/** @format */
#header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  #header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
